<html>
    <head> 
        <title>{{#if title }}{{ title }}{{else}}No title{{/if}}</title>
        <link rel="stylesheet" href="style.css">               
    </head>
    <body>
        <ol>
            <li>Start <a href="https://github.com/login/oauth/authorize?client_id=Iv1.1f9e5fa32a527c8b&redirect_uri={{ root_url }}/configure&state=12345">here</a></li>
        </ol>
        
    </body>
</html>